* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--fondo);
  font-family: var(--letra);
}

.page-bg {
  position: relative;

  &::before {
    content: '';
    position: fixed;
    inset: 0;
    background-image: url('../assets/img/fondo.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.15;
    pointer-events: none;
    z-index: 0;
  }
}